<%- include("partials/header"); -%>

	<h1 class="main-title">ABOUT</h1><br>
	<p class="main-para">It's simply a hobby. Coming from a Bengali family. I'm destined to be one of three things: a doctor, an engineer or a banker. Yet to go, havn't decided about what to do. So as a non-grad, I created this blog to document some of my favorite recipes.</p>
	
<%- include("partials/footer"); -%>